<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"
        text="Back"
        color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header class="contenido" collapse="condense">
    <ion-toolbar>
      <ion-title size="large">inicio-a</ion-title>
    </ion-toolbar>
  </ion-header>

  <h4>RegistrAPP</h4>
  
  <ion-card class="imghold"> 
  <img src="../../../assets/duoc.jfif">
  </ion-card>
  <ion-card >
    <p style="color:aliceblue"></p>  
    <ion-button routerLink="/inicio-sesion-a" expand="block" fill="solid" color="primary" shape="round">
      Iniciar Sesion
    </ion-button>
    <p style="color:aliceblue"></p> 
    <ion-button routerLink="/registrarse-a" expand="block" fill="solid" color="warning" shape="round">
      Registrarse
    </ion-button>
    <p style="color:aliceblue"></p> 
  </ion-card>

</ion-content>
