ion-card-header.ios {
    display: flex;
    flex-flow: column-reverse;
}
.encabezado{
    background-color: blue;
}
.imgholder{
    text-align: center;
    padding: 20px;
}
.contenido{
    background-color: #6861b5;
}